{
padding:0;
margin:0;
}
.main{
		width:100%;
		height:100vh;
		position:relative;
		overflow:hidden;
		background:linear-gradient(to right,#9c27b0,#8ecdff);  #f9b3a6,#a1fbf8
	
}
#game{
width:400px;
height:500px;
border:1px solid black;
margin:auto;
}
#character{
width:20px;
height:20px;
background-color:red;
border-radius:50%;
position:relative;
top:440px;
left:190px;
z-index:1;
}
