{
padding:0;
margin:0;
}
.main{
background:linear-gradient(to right,#000,#000);
}
#game{
width:400px;
height:500px;
border:1px solid white;
margin:auto;
}
#character{
width:20px;
height:20px;
background-color:red;
border-radius:50%;
position:relative;
top:440px;
left:190px;
z-index:1;
}
.controls{
        position:absolute;
	right:10%;
	top:50%;
	transform:translateY(-50%);
	text-align:center;
}	
